<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>The Subtle Art of Not Giving a F*ck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <div id="navPane">
      <!--Navigation Pane-->
      <br><br><br><br><br><br><br><br><br><br><br>   
    <a class = "button" href = "index.html" > Home Page  </a><br><br>
    <a class = "button" href = "books.html" > Books </a><br><br>
    <!--a class = "button" href = "contactUs.html" > Contact Us </a><br><br-->
    <!--a class = "button" href = "survey.html" > Survey </a><br><br-->
    <!--a class = "button" href = "honesty.html" > Honesty Page  </a><br><br-->
    </div>

    <div id="mainCont">
        <header>
            <h1>The Subtle Art of Not Giving a F*ck</h1>
          </header>
        <div style="display:inline-block;vertical-align:top;">
            <img src="images/subtle-f.jpg" width="24%" height="40%" alt="img"/>
        </div>
        <div style="display:inline-block;">
            <p>Author:- Mark Manson </p>
            <p> Publisher:- HarperOne </p>
            <p> Published:- 2016</p>
            <p> Genres: Self-help </p>
            <p> Availability:- Online, Paperback and Hardcover </p>
        </div>
    </div>
  </body>
</html>


    
