<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>The Notebook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
     <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <div id="navPane">
      <!--Navigation Pane-->
      <br><br><br><br><br><br><br><br><br><br><br>   
    <a class = "button" href = "index.html" > Home Page  </a><br><br>
    <a class = "button" href = "books.html" > Books </a><br><br>
    <!--a class = "button" href = "contactUs.html" > Contact Us </a><br><br-->
    <!--a class = "button" href = "survey.html" > Survey </a><br><br-->
    <!--a class = "button" href = "honesty.html" > Honesty Page  </a><br><br-->
    </div>

    <div id="mainCont">
        <header>
            <h1>The Notebook</h1>
          </header>
        <div style="display:inline-block;vertical-align:top;">
            <img src="images/notebook.jpg" width="100%" height="140%" alt="img"/>
        </div>
        <div style="display:inline-block;">
            <p>Author:- Nicholas Sparks </p>
            <p> Publisher:- Grand Central Publishing </p>
            <p> Published:- 1996</p>
            <p> Genres: Novel, Romance novel, Fiction </p>
            <p> Availability:- Online and Offline </p>
        </div>
    </div>
  </body>
</html>


    
