<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title>Collection of Books</title>
  </head>
  <body>
    
    <div id="navPane">
      <!--Navigation Pane-->
      <br><br><br><br><br><br><br><br><br><br><br>   
    <a class = "button" href = "index.html" > Home Page  </a><br><br>
    <a class = "button" href = "books.html" > Books </a><br><br>
    <!--a class = "button" href = "contactUs.html" > Contact Us </a><br><br-->
    <!--a class = "button" href = "survey.html" > Survey </a><br><br-->
    <!--a class = "button" href = "honesty.html" > Honesty Page  </a><br><br-->
    </div>
  
      <div id="mainCont">

        <div>
          <div style="float: left">
          <a href = "book1.html">
          <img src="./images/file-system-forensics.jpg" alt="File system Forensics" width="50%" height="70%">  
          </a>
          </div>
          <br>
          <br>
          <div>
            <a href = "book1.html" > File System Forensics Brian Carrier  </a>
          </div>
        </div>
        <br>
        <br>
        <div>
        <div style="float: left">
          <a href = "book2.html">
          <img src="./images/subtle-f.jpg" alt="The Subtle Art" width="15%" height="70%">  
          </a>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div>
            <a href = "book2.html" > The Subtle Art of Not Giving a F*ck by Mark Manson  </a>
          </div>
        </div>
        <div style="float: left">
          <a href = "book3.html">
          <img src="images/notebook.jpg" alt="The Notebook" width="30%" height="50%">  
          </a>
          <div style="float:right">
            <a href = "book3.html" > The Notebook by Nicholas Sparks  </a>
          </div>
        </div>  
      </div>  
  </body>
</html>